@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", serif;
}
.center{
   align-items: center;
}
.abouts{
    width: 100%;
}
.about{
    color: blueviolet;
    padding-left: 150px;
}
.tittles{
   color: brown;
   padding-right: 900px;
   padding-top: 20px;
}
.para{
padding-left: 150px;
padding-right: 150px;
padding-top: 30px;
color: black;
}
.paras{
    text-align: center;
    padding-top: 30px;
    color: black;
}
.logo{
    padding-top: 30px;
    align-items: center;
}
